<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ObjCZMQ.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ObjCZMQiOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>zmq-ios.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>zmq-osx.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C1D06221C61C47E0002F93E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C1D062C1C61C47E0002F93E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C1D06411C61C5430002F93E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C1D064A1C61C5440002F93E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C1D06D41C64E80B0002F93E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C1D0C571C64E9890002F93E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C1D0C5F1C64E9AC0002F93E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C86B9D41C6A6FEA0069591D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C86B9E31C6A70A50069591D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C86B9F81C6A71E50069591D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C86BA061C6A72100069591D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C86BA171C6A79120069591D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C86BA261C6A793E0069591D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
